<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Automation suite">

	<test name="Different TestNG  Features">
	
		<classes>
		
			<class name="TestNGPackage.ExceptionTimeOutTest" />
			
			<class name="TestNGPackage.GoogleTest" />
			
			<class name="TestNGPackage.InvocationCountTest" />
			
			<class name="TestNGPackage.TestNGBasics" />
			
			<class name="TestNGPackage.TestNGFeatures" />
			
		</classes>
		
	</test>
	
</suite> 
